
<h1>New Product Item</h1>

<%= form_for(@product_item) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <!--<div class="field">-->
      <!--<#%= f.label :front_image %>-->
      <!--<#%= f.image :front_image %>-->
    <!--</div>-->

    <!--<div class="field">-->
      <!--<#%= f.label :back_image %>-->
      <!--<#%= f.image :back_image %>-->
    <!--</div>-->

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>