
<h1>New Product Item</h1>

<%= form_for(@product_item) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>


    <ul>
      <%= f.fields_for :technologies do |size_form| %>
      <li>
        <%= size_form.label :name, 'Sizes' %>
        <%= size_form.select :name, [['Small','small'],['Medium','medium'],['Large','large'],['X-Large','x-large'],['XX-Large','large']] %>
      </li>
          <li>
            <%= size_form.label :quantity, 'Quantity' %>
            <%= size_form.number_field :quantity%>
          </li>
      <% end %>
    </ul>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>