
<%= image_tag @product_item.front_image %>

<h1><%= @product_item.title %></h1>

<em><%= @product_item.description %></em> <br>

<%= image_tag @product_item.back_image %>

<h3>Sizes Available</h3>

<% @product_item.sizes.each do |s| %>
    <p><%= s.name %></p>
    <p><%= s.quantity %></p>
<% end %>

<hr>
